<html>
<head>
	<title>Login App</title>
	<link rel="stylesheet" href="../static/style.css" />

</head>
<body></body>
		<h1>Log In</h1>
        <form>
            <label for ="usernamefield">Username:</label>
            <input type = "text" id="usernamefield" name = "usernamefield"><br>
            <label for ="passwordfield">Password:</label>
            <input type = "text" id="passwordfield" name = "passwordfield"><br>
        </form>
        <button>
            Login<br>
        </button>
        <button>
            Register
        </button>
</body>
</html>